/hebpipe/conll18_ud_eval.py
/hebpipe/he_htb-ud-dev.conllu
/hebpipe/he_htb-ud-test.conllu
/hebpipe/he_htb-ud-train.conllu
/hebpipe/he_iahltwiki-ud-dev.conllu
/hebpipe/he_iahltwiki-ud-test.conllu
/hebpipe/he_iahltwiki-ud-train.conllu
/hebpipe/htb-test.conllu
/hebpipe/htb-test.txt
/hebpipe/htb-test-split.conllu
/hebpipe/htb-test-split.txt
/hebpipe/iahlt-test.conllu
/hebpipe/iahlt-test.txt
/hebpipe/models/stanza/he_htb.pretrain.pt
/hebpipe/models/stanza/he_htb_tagger.pt
/hebpipe/models/stanza/he_lemmatizer.pt
/hebpipe/models/heb.diaparser
/hebpipe/models/heb.flair
/hebpipe/models/heb.morph
/hebpipe/models/heb.sbdposmorph.pt
/hebpipe/models/heb.seg
/hebpipe/models/heb.sent
/hebpipe/models/heb.sm3
/hebpipe/models/heb.xrm
/hebpipe/data/checkpoint/
/hebpipe/data/tensorboarddir/

__pycache__
/hebpipe/data/sentsplit_postag_dev_gold.tab
/hebpipe/data/sentsplit_postag_train_gold.tab
