requests
transformers==4.35.2
torch==2.1.0
xgboost==2.0.3
gensim==4.3.2
rftokenizer>=2.2.0
numpy
scipy
depedit>=3.3.1
pandas==2.1.2
joblib==1.3.2
xmltodict==0.13.0
diaparser==1.1.2
flair==0.13.0
stanza==1.7.0
conllu==4.5.3
protobuf==4.23.4